<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="BoardMapper">
	
	
	<resultMap id="boardSelectMap" type="com.phoenix.mvc.service.domain.Board">
		<result property="boardNo" 			column="board_no" 			jdbcType="NUMERIC"/>
		<result property="cafeNo"			column="cafe_no" 			jdbcType="NUMERIC" />
		<result property="boardName" 		column="board_name" 			jdbcType="VARCHAR" />
		<result property="accessGrade" 		column="access_grade" 				jdbcType="VARCHAR" />
		<result property="boardIndex" 		column="board_index" 				jdbcType="NUMERIC" />
		<result property="privateFlag" 		column="private_flag" 		jdbcType="CHAR" />
		<result property="boardType" 		column="board_type" 				jdbcType="VARCHAR" />
		<result property="boardDetail" 		column="board_detail" 				jdbcType="NUMERIC"  />
	</resultMap>

	<select  id="getBoardList"   parameterType="int"  resultMap="boardSelectMap">
		SELECT *
		FROM board
		WHERE cafe_no = #{value}
	</select>
	
	<select id="getCafeNo" parameterType ="string" resultType="int">
		SELECT cafe_no
		FROM cafe
		WHERE url = #{value}
	</select>




</mapper>