<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CafeApplicationMapper">
 	
	<resultMap id="cafeApplicationSelectMap" type="CafeApplication">
		<result property="applicationNo" 	column="application_no" 	jdbcType="NUMERIC"/>
		<result property="userNo" 			column="user_no" 			jdbcType="NUMERIC" />
		<result property="cafeNo" 			column="cafe_no" 			jdbcType="NUMERIC" />
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE" />
		<result property="question1" 		column="question1" 			jdbcType="VARCHAR" />
		<result property="question2" 		column="question2" 			jdbcType="VARCHAR" />
		<result property="question3" 		column="question3" 			jdbcType="VARCHAR" />
		<result property="answer1" 			column="answer1" 			jdbcType="NUMERIC"  />
		<result property="answer2" 			column="answer2" 			jdbcType="VARCHAR" />
		<result property="answer3" 			column="answer3" 			jdbcType="VARCHAR" />
		<result property="acceptStatusCode" column="accept_status_code" jdbcType="VARCHAR" />
		<result property="memberNickname" 	column="member_nickname" 	jdbcType="VARCHAR" />
		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR" />
		<result property="cafeURL" 			column="URL" 				jdbcType="VARCHAR" />
		<result property="cafeName" 		column="cafe_name" 			jdbcType="VARCHAR" />
		<result property="managerNickname" 	column="member_nickname" 	jdbcType="VARCHAR" />
		<result property="cafeIcon" 		column="cafe_icon" 			jdbcType="VARCHAR" />
		<result property="cafeType" 		column="cafe_type" 			jdbcType="VARCHAR" />
	</resultMap>
	
	
	<insert 	id="addCafeApplication"		parameterType="CafeApplication" >
	 	INSERT
		INTO cafe_application( application_no , user_no , cafe_no , reg_date , question1, question2, question3 , answer1, answer2, answer3, accept_status_code, member_nickname ) 
		VALUES	 (	seq_application_no.NEXTVAL , #{userNo} , #{cafeNo} , SYSDATE , #{question1:VARCHAR} , 
							#{question2:VARCHAR} , #{question3:VARCHAR} , #{answer1:VARCHAR} , #{answer2:VARCHAR}, #{answer3:VARCHAR}, 'ca101', #{memberNickname})
	 </insert>
	 
	 	
	<select  id="getCafeApplicationList"  parameterType="search"	resultMap="cafeApplicationSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(		SELECT u.user_id,c.member_nickname, c.application_no, c.user_no, c.cafe_no, c.reg_date, c.question1, c.question2, c.question3, c.answer1, c.answer2, c.answer3, c.accept_status_code 
	  									FROM cafe_application c, users u
	  									<where>
	  									c.user_no = u.user_no(+)
											<if test="searchCondition != null">
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				AND c.member_nickname like '%' || #{searchKeyword}||'%'
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				AND u.user_id like '%' || #{searchKeyword}||'%'
													</if>
											</if>
											</where>
											ORDER BY application_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 	
	 	
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT *
						FROM cafe_application c, users u
							<where>
							c.user_no = u.user_no(+)
								<if test="searchCondition != null">
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			AND c.member_nickname like '%' || #{searchKeyword}||'%'
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 			AND u.user_id like '%' || #{searchKeyword}||'%'
								</if>
								</if> 
							</where>) countTable						
	 </select>
	 
	 <update id="updateAcceptStatusCode"	parameterType="CafeApplication" >
	   	UPDATE cafe_application
	   	<set>
		accept_status_code=#{acceptStatusCode}	
	   	</set>
	   	WHERE user_no = #{userNo}
	 </update>
	 
	 <sql id="selectAllFromCafeApplication">
	 	SELECT 
		a.application_no, a.user_no, a.member_nickname, a.reg_date, a.accept_status_code, c.cafe_no, c.cafe_icon, c.url, c.cafe_type, c.cafe_name,
		a.question1, a.answer1, 
		a.question2, a.answer2, 
		a.question3, a.answer3 
		FROM
		cafe_application a, cafe c
		WHERE
		a.cafe_no = c.cafe_no
	 </sql>
	 
	 <select id="getCafeApplication" parameterType="int" resultMap="cafeApplicationSelectMap">
  		<include refid="selectAllFromCafeApplication"/>
  		AND a.user_no = #{userNo}
  		ORDER BY application_no DESC
  	</select>
  	
  	 <select id="countCafeApplicationForUser" parameterType="int" resultType="int">
  		SELECT
		count(*)
		FROM (
  		<include refid="selectAllFromCafeApplication"/>
  		AND a.user_no = #{userNo}
  		ORDER BY application_no DESC
  		)
  	</select>
  	
  	<select id="getCafeApplication2" parameterType="int" resultMap="cafeApplicationSelectMap">
  		<include refid="selectAllFromCafeApplication"/>
		AND application_no = #{applicationNo}
  	</select>
	 
</mapper>