<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CafeMemberMapper">

	
	<resultMap id="cafeMemberSelectMap" type="com.phoenix.mvc.service.domain.CafeMember">
		<result property="memberNo" 			column="member_no" 			jdbcType="NUMERIC"/>
		<result property="cafeNo"			column="cafe_no" 			jdbcType="NUMERIC" />
		<result property="userNo" 		column="user_no" 			jdbcType="NUMERIC" />
		<result property="cafeMemberGradeNo" 			column="cafe_member_grade_no" 				jdbcType="NUMERIC" />
		<result property="noticeFlag" 				column="notice_flag" 				jdbcType="CHAR" />
		<result property="memberNickname" 			column="member_nickname" 		jdbcType="VARCHAR" />
		<result property="memberStatusCode" 			column="member_status_code" 				jdbcType="VARCHAR" />
		<result property="favoriteFlag" 			column="favorite_flag" 				jdbcType="CHAR"  />
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE" />
		<result property="visitCount" 			column="visit_count" 				jdbcType="NUMERIC" />
	</resultMap>
	
	  <update	id="updateCafeMember"	parameterType="CafeMember" >
	   	UPDATE cafe_member
	   	<set>
		member_status_code=#{memberStatusCode}	
	   	</set>
	   	WHERE member_no = #{memberNo}
	 </update>
	 
</mapper>