<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="CafeMapper">
 	

	<resultMap id="cafeSelectMap" type="com.phoenix.mvc.service.domain.Cafe">
		<result property="cafeNo" 						column="cafe_no" 						jdbcType="NUMERIC"/>
		<result property="cafeName" 					column="cafe_name" 						jdbcType="VARCHAR"/>
		<result property="cafeIcon"						column="cafe_icon" 						jdbcType="VARCHAR" />
		<result property="manageUserNo" 				column="manage_user_no" 				jdbcType="NUMERIC" />
		<result property="cafeURL" 						column="url" 							jdbcType="VARCHAR" />
		<result property="cafeDetail" 					column="cafe_detail" 					jdbcType="VARCHAR" />
		<result property="regDate" 						column="reg_date" 						jdbcType="DATE" />
		<result property="bannerImg" 					column="banner_img" 					jdbcType="VARCHAR"/>
		<result property="mainImg" 						column="main_img" 						jdbcType="VARCHAR"/>
		<result property="cafeType"						column="cafe_type" 						jdbcType="VARCHAR" />
		<result property="applicationDetail" 			column="application_detail" 			jdbcType="VARCHAR" />
		<result property="closeReason" 					column="close_reason" 					jdbcType="VARCHAR" />
		<result property="applicationQuestion1"	 		column="application_question1" 			jdbcType="VARCHAR" />
		<result property="applicationQuestion2"			column="application_question2" 			jdbcType="VARCHAR" />
		<result property="applicationQuestion3" 		column="application_question3"			jdbcType="VARCHAR" />
		<result property="memberNicknameFlag" 			column="member_nickname_flag" 			jdbcType="CHAR" />
		<result property="autoApplicationAcceptFlag" 	column="auto_application_accept_flag" 	jdbcType="CHAR" />
		<result property="closedFlag" 					column="closed_flag" 					jdbcType="CHAR" />
		<result property="members" 						column="members" 						jdbcType="NUMERIC" />		
	</resultMap>
	
	<insert 	id="addCafe"		parameterType="com.phoenix.mvc.service.domain.Cafe" >
	 	<selectKey keyProperty="cafeNo" resultType="int" order="BEFORE">
	 		SELECT SEQ_CAFE_CAFE_NO.NEXTVAL FROM DUAL
	 	</selectKey>
		INSERT INTO CAFE (cafe_no, cafe_name, manage_user_no, reg_date, url, cafe_detail, banner_img, main_img, cafe_type, member_nickname_flag) 
		VALUES ( #{cafeNo}, #{cafeName:VARCHAR}, #{manageUserNo}, SYSDATE, #{cafeURL:VARCHAR}, #{cafeDetail:VARCHAR}, #{bannerImg:VARCHAR} , #{mainImg:VARCHAR}, #{cafeType:VARCHAR}, #{memberNicknameFlag:CHAR})

	 </insert>
	 
	 	 <insert id="addMemberGrade" parameterType="com.phoenix.mvc.service.domain.CafeGrade">	 
	  	
			  	INSERT ALL
		
		INTO CAFE_MEMBER_GRADE(cafe_member_grade_no, cafe_no, grade_name, member_grade_code, required_visit_count, required_reply_count, required_post_count, cafe_grade_active_flag)	
		
		VALUES(GET_SEQ_CAFE_MEMBER_GRADE_NO(), #{cafeNo:NUMERIC}, '매니저', 'cg100', '0', '0', '0','1')
		
		INTO CAFE_MEMBER_GRADE(cafe_member_grade_no, cafe_no, grade_name, member_grade_code, required_visit_count, required_reply_count, required_post_count, cafe_grade_active_flag)
		
		VALUES(GET_SEQ_CAFE_MEMBER_GRADE_NO(), #{cafeNo:NUMERIC}, '스탭', 'cg101', '0', '0','0','1')
		
		INTO CAFE_MEMBER_GRADE(cafe_member_grade_no, cafe_no, grade_name, member_grade_code, required_visit_count, required_reply_count, required_post_count, cafe_grade_active_flag)
		
		VALUES(GET_SEQ_CAFE_MEMBER_GRADE_NO(), #{cafeNo:NUMERIC}, '새싹', 'cg102', '0', '0','0','1')
		
		INTO CAFE_MEMBER_GRADE(cafe_member_grade_no, cafe_no, grade_name, member_grade_code, required_visit_count, required_reply_count, required_post_count)
		
		VALUES(GET_SEQ_CAFE_MEMBER_GRADE_NO(), #{cafeNo:NUMERIC}, '일반', 'cg103', '0', '0', '0')
		
		INTO CAFE_MEMBER_GRADE(cafe_member_grade_no, cafe_no, grade_name, member_grade_code, required_visit_count, required_reply_count, required_post_count)
		
		VALUES(GET_SEQ_CAFE_MEMBER_GRADE_NO(), #{cafeNo:NUMERIC}, '성실', 'cg104', '0', '0', '0')
		
		INTO CAFE_MEMBER_GRADE(cafe_member_grade_no, cafe_no, grade_name, member_grade_code, required_visit_count, required_reply_count, required_post_count)
		
		VALUES(GET_SEQ_CAFE_MEMBER_GRADE_NO(), #{cafeNo:NUMERIC}, '열심', 'cg105', '0', '0', '0')
		
		INTO CAFE_MEMBER_GRADE(cafe_member_grade_no, cafe_no, grade_name, member_grade_code, required_visit_count, required_reply_count, required_post_count)
		
		VALUES(GET_SEQ_CAFE_MEMBER_GRADE_NO(), #{cafeNo:NUMERIC}, '우수', 'cg106', '0', '0', '0')
		
		SELECT * FROM DUAL

	</insert>
	
		 	 <insert id="addBoard" parameterType="com.phoenix.mvc.service.domain.Board">	 
	  	
			  	INSERT ALL
		
		INTO BOARD(board_no, cafe_no, cafe_url, board_name, access_grade, board_index, board_type, board_detail)	
		
		VALUES(GET_SEQ_BOARD_NO(), #{cafeNo:NUMERIC}, #{cafeURL:VARCHAR}, '공지게시판', 'cg102', '1', 'cb100', '공지게시판입니다')
		
		INTO BOARD(board_no, cafe_no, cafe_url, board_name, access_grade, board_index, board_type, board_detail)	
		
		VALUES(GET_SEQ_BOARD_NO(), #{cafeNo:NUMERIC}, #{cafeURL:VARCHAR}, '신고게시판', 'cg102', '2', 'cb101', '신고게시판입니다')
		
		INTO BOARD(board_no, cafe_no, cafe_url, board_name, access_grade, board_index, board_type, board_detail)	
		
		VALUES(GET_SEQ_BOARD_NO(), #{cafeNo:NUMERIC}, #{cafeURL:VARCHAR}, '-------', 'cg102', '3', 'cb102', '구분선입니다')
		
		INTO BOARD(board_no, cafe_no, cafe_url, board_name, access_grade, board_index, board_type, board_detail)	
		
		VALUES(GET_SEQ_BOARD_NO(), #{cafeNo:NUMERIC}, #{cafeURL:VARCHAR}, '자유게시판', 'cg102', '4', 'cb103', '자유게시판입니다')
		
		SELECT * FROM DUAL

	</insert>
	

	<select id = "changeGrade" parameterType="int"   resultType="int">
  		SELECT cafe_member_grade_no
		FROM cafe_member_grade
		WHERE cafe_no = #{cafeNo} and member_grade_code ='cg100'
  	</select>

	 <select 	id="getCafeInfo"	parameterType= "int"	resultMap="cafeSelectMap">
		SELECT
		c.cafe_no, c.cafe_Name, c.cafe_icon, c.manage_user_no, c.url, c.cafe_detail, c.banner_img, c.main_img, c.cafe_type, c.application_detail, c.reg_date,
		c.close_reason, c.application_question1, c.application_question2, c.application_question3, c.member_nickname_flag, c.auto_application_accept_flag,
		c.closed_flag, members, m.member_nickname		
		FROM cafe c, cafe_member m
		WHERE c.manage_user_no = m.user_no 
		and c.cafe_no = #{value}
	 </select>
	 
	 <select id="getCafeInfoByURL" parameterType="String" resultMap="cafeSelectMap">
		SELECT
			cafe_no, 
			cafe_Name,
			cafe_icon, 
			manage_user_no, 
			url, 
			cafe_detail, 
			banner_img, 
			main_img, 
			cafe_type, 
			application_detail, 
			reg_date,
			close_reason, 
			application_question1, 
			application_question2, 
			application_question3, 
			member_nickname_flag, 
			auto_application_accept_flag,
			closed_flag, 
			members 		
		FROM cafe 
		WHERE URL = #{value}
	 </select>
	 
	 <select 	id="getCafeName"	parameterType= "String"	resultMap="cafeSelectMap">
		SELECT	 cafe_Name	
		FROM cafe 
		WHERE cafe_Name = #{value}
	 </select>
	 
	 <select 	id="getCafeURL"	parameterType= "String"	resultMap="cafeSelectMap">
		SELECT	 url	
		FROM cafe 
		WHERE url = #{value}
	 </select>
	 
	 
	 
	 <update	id="updateCafeInfo"	parameterType="com.phoenix.mvc.service.domain.Cafe" >
	   	UPDATE cafe
	   	<set>
	   		cafe_name 	= #{cafeName:VARCHAR} ,
			cafe_Detail	= #{cafeDetail:VARCHAR},
			banner_img = #{bannerImg:VARCHAR},
			main_img = #{mainImg:VARCHAR},
			cafe_type = #{cafeType:VARCHAR},
			auto_application_accept_flag = #{autoApplicationAcceptFlag:CHAR},
			cafe_icon = #{cafeIcon:VARCHAR}
							
	   	</set>
	  WHERE cafe_no = #{cafeNo:NUMERIC}
	 </update>
	 
	 <update	id="updateCafeApplicationForm"	parameterType="com.phoenix.mvc.service.domain.Cafe" >
	   	UPDATE cafe
	   	<set>
	   		auto_application_accept_flag = #{autoApplicationAcceptFlag:CHAR} ,
			member_nickname_flag	= #{memberNicknameFlag:CHAR},
			application_question1 = #{applicationQuestion1:VARCHAR},
			application_question2 = #{applicationQuestion2:VARCHAR},
			application_question3 = #{applicationQuestion3:VARCHAR}				
	   	</set>
	  WHERE cafe_no = #{cafeNo:NUMERIC}
	 </update>
	 
	 <update id ="dropCafe" parameterType= "Cafe" >
	 	UPDATE cafe
	 	<set>
	 		close_reason=#{closeReason},
	 		closed_flag=#{closedFlag}
	 	</set>
		 WHERE cafe_no = #{cafeNo:NUMERIC}
	 </update>
	 
	 
	 <update id="decreaseMember" parameterType="int">
		UPDATE
		cafe
		<set>
		members = members-1
		WHERE cafe_no= #{cafeNo:NUMERIC}
		</set>
	</update>
	
	<update id="increaseMember" parameterType="int">
		UPDATE
		cafe
		<set>
		members = members+1
		WHERE cafe_no = #{cafeNo:NUMERIC}
		</set>
	</update>
	
	<select id="getCafeNoNo" parameterType ="string" resultType="int">
		SELECT cafe_no
		FROM cafe
		WHERE cafeName = #{value}
	</select>
	

</mapper>