<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ChatRoomMapper">
 	
	<resultMap id="chatRoomSelectMap" type="chatRoom">
		<result property="userNo"			column="user_no" 			jdbcType="NUMERIC"/>
		<result property="chatRoomNo" 		column="chat_room_no" 		jdbcType="NUMERIC" />
		<result property="myChatRoomNo" 	column="my_chat_room_no" 	jdbcType="NUMERIC" />
		<result property="chatRoomName" 	column="chat_room_name" 	jdbcType="VARCHAR" />
	
	</resultMap>
	
	<select id="getMyRoomList" parameterType="Search" resultMap="chatRoomSelectMap">
		SELECT
		my_chat_room_no, chat_room_no, chat_room_name
		FROM
		my_chat_room
		WHERE
		user_no=#{userNo}
	</select>
	 
</mapper>