<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="PostMapper">
	
	
	<resultMap id="postSelectMap" type="Post">
		<result property="postNo" 			column="post_no" 			jdbcType="NUMERIC"/>
		<result property="boardNo"			column="board_no" 			jdbcType="NUMERIC" />
		<result property="memberNo" 		column="member_no" 			jdbcType="NUMERIC" />
		<result property="postTitle" 		column="post_title" 		jdbcType="VARCHAR" />
		<result property="postContent" 		column="post_content" 		jdbcType="VARCHAR" />
		<result property="regDate" 			column="reg_date" 			jdbcType="CHAR" />
		<result property="viewCount" 		column="view_count" 		jdbcType="NUMERIC" />
		<result property="likeCount" 		column="like_count" 		jdbcType="NUMERIC"  />
		<result property="memberNickname" 	column="member_nickname" 	jdbcType="VARCHAR"  />
		<result property="postStatusFlag" 	column="post_status_flag" 	jdbcType="CHAR"  />
		<result property="postNoticeFlag" 	column="post_notice_flag" 	jdbcType="CHAR"  />
		<result property="noticeIndex" 		column="notice_index" 		jdbcType="NUMERIC"  />
		<result property="cafeName" 		column="cafe_name" 			jdbcType="VARCHAR"  />
		<result property="cafeUrl" 			column="url" 				jdbcType="VARCHAR"  />
		<result property="cafeIcon" 		column="cafe_icon" 			jdbcType="VARCHAR"  />
	</resultMap>

	<select  id="getBoard"   parameterType="Search"  resultMap="postSelectMap">
		SELECT 
			post_no, 
			board_no, 
			member_no, 
			post_title, 
			post_content, 
			TO_CHAR(reg_date, 'YYYY-MM-DD HH24:MM:SS') AS reg_date, 
			view_count, 
			like_count, 
			member_nickname, 
			post_status_flag, 
			post_notice_flag, 
			notice_index 
		FROM post 
		WHERE board_no = #{boardNo}
		ORDER BY reg_date DESC
	</select>
	
	<select  id="searchCafePost"   parameterType="Search"  resultMap="postSelectMap">
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(
	  	SELECT
		c.url, c.cafe_name, c.cafe_icon, b.board_no, p.post_title, p.reg_date
		FROM	cafe c, board b, post p
		WHERE	c.cafe_no=b.cafe_no
		AND		p.board_no=b.board_no
		AND		p.post_status_flag='0'
		AND		p.post_title like '%' ||#{searchKeyword}|| '%'
		ORDER BY p.reg_date DESC
		 ) inner_table
		WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select  id="searchPostTotalCount"   parameterType="Search"  resultType="int">
		SELECT
		count(*)
		FROM	cafe c, board b, post p
		WHERE	c.cafe_no=b.cafe_no
		AND		p.board_no=b.board_no
		AND		p.post_status_flag='0'
		AND		p.post_title like '%' ||#{searchKeyword}|| '%'
	</select>

</mapper>