<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
 	
 	
	<resultMap id="userSelectMap" type="com.phoenix.mvc.service.domain.User">
		<result property="userNo" 				column="user_no" 				jdbcType="NUMERIC"/>
		<result property="userId" 				column="user_id" 				jdbcType="VARCHAR"/>
		<result property="userName"				column="user_name" 				jdbcType="VARCHAR" />
		<result property="userNickname"			column="user_nickname" 			jdbcType="VARCHAR" />
		<result property="password" 			column="password" 				jdbcType="VARCHAR" />
		<result property="email" 				column="email" 					jdbcType="VARCHAR" />
		<result property="phone" 				column="phone" 					jdbcType="NUMERIC" />
		<result property="profileImg" 			column="profile_img" 			jdbcType="VARCHAR" />		
		<result property="regDate" 				column="reg_date" 				jdbcType="DATE" />
		<result property="userRoleCode" 		column="user_role_code" 		jdbcType="VARCHAR" />
		<result property="userStatusCode" 		column="user_status_code" 		jdbcType="VARCHAR" />		
	</resultMap>
	
	<insert 	id="addUser"		parameterType="com.phoenix.mvc.service.domain.User" >
	 	<selectKey keyProperty="userNo" resultType="int" order="BEFORE">
	 		SELECT SEQ_USERS_USER_NO.NEXTVAL FROM DUAL
	 	</selectKey>
		INSERT INTO USERS (user_no, user_id, user_name, user_nickname, password, email, phone, profile_img, reg_date) 
		VALUES ( #{userNo}, #{userId:VARCHAR}, #{userName:VARCHAR}, #{userNickname:VARCHAR}, #{password:VARCHAR}, #{email:VARCHAR}, #{phone:NUMERIC}, #{profileImg:VARCHAR}, SYSDATE)

	 </insert>
	
	<!-- SQL : INSERT -->

	 <!-- SQL : SELECT ONE -->
	 <select 	id="getUser"	parameterType="String"	resultMap="userSelectMap">
		SELECT
		user_no, user_id, user_name, user_nickname, password, email, phone, profile_img, reg_date, user_role_code, user_status_code 		
		FROM users 
		WHERE user_id = #{value}
	 </select>	 
	 
	 <select 	id="getUserInfo"	parameterType="int"	resultMap="userSelectMap">
		SELECT
		user_no, user_id, user_name, user_nickname, password, email, phone, profile_img, reg_date, user_role_code, user_status_code 		
		FROM users 
		WHERE user_no = #{value}
	 </select>	 


	 <update	id="updateUser"	parameterType="com.phoenix.mvc.service.domain.User" >
	   	UPDATE users
	   	<set>
	   		user_name 	= #{userName:VARCHAR} ,
			user_nickname	= #{userNickname:VARCHAR},
			password = #{password:VARCHAR},
			email = #{email:VARCHAR},
			phone = #{phone:NUMERIC},
			profile_img = #{profileImg:VARCHAR}					
	   	</set>
	  WHERE user_no = #{userNo:NUMERIC}
	 </update>
</mapper>